body

{ background-color: rgb(175, 247, 247);
       }

h1 {color: rgb(27, 54, 54);}
h2 {color: rgb(18, 32, 32);}
h3 {color: rgb(31, 83, 83);}

hr {background-color:rgb(175, 247, 247);
border-style: none;
border-top-style: dotted;
border-color: rgb(54, 230, 230);
border-width: 10px;
height: 0%;
width: 100px;

}
img {

height: 200px;
width: 200px;

}